<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form>
      <div class="form-row form-group">
        <label>Nazwa produktu</label>
        <input [(ngModel)]="product.productName" type="text" class="form-control" name="inputProductName"
               placeholder="Nazwa produktu np rękawice narciarskie..." required>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6">
            <label>Cena jednostkowa (zł)</label>
            <input [(ngModel)]="product.unitPrice" type="text" class="form-control" name="inputUnitPrice" placeholder="np 200...">
          </div>
          <div class="col-md-6">
            <label>Ilość sztuk w jednostce</label>
            <input [(ngModel)]="product.quantityPerUnit" type="text" class="form-control" name="inputQuantityPerUnit" placeholder="np 2 sztuki (rękawica prawa i lewa)">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Ilość jednostek w magazynie</label>
            <input [(ngModel)]="product.unitsInStock" type="text" class="form-control" name="inputUnitsInStock" placeholder="np 20...">
          </div>
          <div class="form-group col-md-6">
            <label>Wymagana ilość jednostek w zamówieniu</label>
            <input [(ngModel)]="product.unitsOnOrder" type="text" class="form-control" name="inputUnitsOnOrder" placeholder="np 1...">
          </div>
        </div>
      </div>

      <hr/>
      <br/>

      <div class="form-group">

        <h5>Kategoria produktu</h5>

        <div class="form-row">

          <div class="col-md-4 form-group">

            <div class="form-check">
              <input [(ngModel)]="categoryChoice" [value]="newCategory" class="form-check-input" type="radio"
                     name="categoryRadio">
              <label class="form-check-label">
                Dodaj nową kategorię
              </label>
            </div>

            <div class="form-check">
              <input [(ngModel)]="categoryChoice" [value]="existingCategory" class="form-check-input" type="radio"
                     name="categoryRadio">
              <label class="form-check-label">
                Wybierz istniejącą kategorię
              </label>
            </div>
          </div>


          <div class="col-md-6" *ngIf="categoryChoice === existingCategory">
            <select name="inputCategorySelect" class="form-control" [(ngModel)]="product.category" [compareWith]="compareById">
              <option *ngFor='let category of existingCategories'  [ngValue]="category" name="inputCategoryOption">{{category.categoryName}}</option>
            </select>
          </div>


        </div>


        <div class="form-group" *ngIf="categoryChoice === newCategory">
          <div class="form-row">
            <label>Nazwa kategorii</label>
            <input [(ngModel)]="product.category.categoryName" type="text" class="form-control" name="inputCategoryName"
                   placeholder="Nazwa kategorii np sprzęt narciarski">
          </div>
          <div class="form-row">
            <label>Opis kategorii</label>
            <input [(ngModel)]="product.category.description" type="text" class="form-control" name="inputCategoryDescription"
                   placeholder="Opis kategorii...">
          </div>
        </div>
      </div>

      <hr/>
      <br/>

      <div class="form-group">

        <h5>Dostawca produktu</h5>

        <div class="form-row">

          <div class="col-md-4 form-group">

            <div class="form-check">
              <input [(ngModel)]="supplierChoice" [value]="newSupplier" class="form-check-input" type="radio"
                     name="supplierRadio">
              <label class="form-check-label">
                Dodaj nowego dostawcę
              </label>
            </div>

            <div class="form-check">
              <input [(ngModel)]="supplierChoice" [value]="existingSupplier" class="form-check-input" type="radio"
                     name="supplierRadio">
              <label class="form-check-label">
                Wybierz istniejącego dostawcę
              </label>
            </div>
          </div>

          <div class="col-md-6" *ngIf="supplierChoice === existingSupplier">
            <select name="inputSupplierSelect" class="form-control" [(ngModel)]="product.supplier" [compareWith]="compareById">
              <option *ngFor='let supplier of existingSuppliers' [ngValue]="supplier">{{supplier.companyName}}</option>
            </select>
          </div>

        </div>

        <div class="form-group" *ngIf="supplierChoice === newSupplier">
          <div class="form-row">
            <div class="col-md-6">
              <label>Nazwa dostawcy</label>
              <input [(ngModel)]="product.supplier.companyName" type="text" class="form-control"
                     name="inputSupplierCompanyName"
                     placeholder="Nazwa dostawcy...">
            </div>
            <div class="col-md-6">
              <label>Nazwa do kontaktu</label>
              <input [(ngModel)]="product.supplier.contactName" type="text" class="form-control" name="inputSupplierContactName"
                     placeholder="Nazwa do kontaktu...">
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-4">
              <label>Adres</label>
              <input [(ngModel)]="product.supplier.address" type="text" class="form-control"
                     name="inputSupplierAddress"
                     placeholder="Adres dostawcy...">
            </div>
            <div class="col-md-4">
              <label>Miasto</label>
              <input [(ngModel)]="product.supplier.city" type="text" class="form-control" name="inputSupplierCity"
                     placeholder="Miasto...">
            </div>

            <div class="col-md-4">
              <label>Region</label>
              <input [(ngModel)]="product.supplier.region" type="text" class="form-control" name="inputSupplierRegion"
                     placeholder="Region...">
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4">
              <label>Kod pocztowy</label>
              <input [(ngModel)]="product.supplier.postalCode" type="text" class="form-control"
                     name="inputSupplierPostalCode"
                     placeholder="Kod pocztowy...">
            </div>
            <div class="col-md-4">
              <label>Kraj</label>
              <input [(ngModel)]="product.supplier.country" type="text" class="form-control" name="inputSupplierCountry"
                     placeholder="Kraj...">
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4">
              <label>Telefon</label>
              <input [(ngModel)]="product.supplier.phone" type="text" class="form-control"
                     name="inputSupplierPhone"
                     placeholder="Nazwa dostawcy...">
            </div>
            <div class="col-md-4">
              <label>Fax</label>
              <input [(ngModel)]="product.supplier.fax" type="text" class="form-control" name="inputSupplierFax"
                     placeholder="Fax...">
            </div>

            <div class="col-md-4">
              <label>Strona domowa</label>
              <input [(ngModel)]="product.supplier.homePage" type="text" class="form-control"
                     name="inputSupplierHomePage"
                     placeholder="Strona www...">
            </div>
          </div>

        </div>
      </div>

      <br/>

      <div class="form-row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button id="submit" type="submit" class="btn btn-primary" (click)="onSaveClick()">Zatwierdź</button>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary" (click)="onCancelClick()">Anuluj</button>
        </div>
      </div>
    </form>
  </div>
</div>
