<div class='card'
     *ngIf='product'>
  <div class='card-header'>
    {{pageTitle + ': ' + product.productName}}
  </div>

  <div class='card-body'>


    <div class='row border-bottom'>
      <div class='col-md-3'>Nazwa:</div>
      <div class='col-md-9'>{{product.productName}}</div>
    </div>
    <br/>

    <div class="row border-bottom">
      <div class='col-md-3'>Kategoria:</div>
      <div class='col-md-9'>
        {{product.category.categoryName | uppercase}}
        <br/>
        {{product.category.description}}
      </div>
    </div>
    <br/>

    <div class='row border-bottom'>
      <div class='col-md-3'>Dostawca:</div>
      <div class='col-md-9'>
        {{product.supplier.companyName | uppercase}}
        <br/>
        {{product.supplier.address}}, {{product.supplier.city}}, {{product.supplier.country}}
        <br/>
        {{product.supplier.phone}}
      </div>
    </div>
    <br/>

    <div class='row'>
      <div class='col-md-3'>W magazynie:</div>
      <div class='col-md-9'>{{product.unitsInStock ? ('tak (' + product.unitsInStock + ' jednostek)') : 'nie'}} </div>
    </div>
    <br/>

    <div class='row'>
      <div class='col-md-3'>Cena jednostkowa:</div>
      <div class='col-md-9'>{{product.unitPrice|currency:'PLN':'symbol'}}</div>
    </div>
    <br/>

    <div class='row'>
      <div class='col-md-3'>Ilość sztuk w jednostce:</div>
      <div class='col-md-9'>{{product.quantityPerUnit}}</div>
    </div>
    <br/>

    <div class='row'>
      <div class='col-md-3'>Minimalna ilość jednostek w zamówieniu:</div>
      <div class='col-md-9'>{{product.unitsOnOrder}}</div>
    </div>
    <br/>


  </div>

  <div class='card-footer' style="padding:20px;">
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:130px'>
      <i class='fa fa-chevron-left'></i> Powrót
    </button>
    <button class='btn btn-outline-secondary'
            id="editProduct"
            (click)='onEdit()'
            style='width:130px'>
      Edytuj produkt
    </button>
    <button class='btn btn-outline-secondary'
            id="deleteProduct"
            (click)='onDelete()'
            style='width:130px'>
      Usuń produkt
    </button>
  </div>
</div>
