<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" [routerLink]="['/welcome']">Strona główna</a></li>
    <li><a class="nav-link" [routerLink]="['/products']">Lista produktów</a></li>
    <li><a class="nav-link" [routerLink]="['/newproduct']">Dodaj produkt</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
