<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>


  <div class='card-body'>
    <form (ngSubmit)="applyFilters()">
      <div class='row'>


        <div class='col-md-3'>
          <div>Kategoria:</div>
          <div>
            <input class="form-control" type='text' name="categoryName" [(ngModel)]="categoryName"/>
          </div>
        </div>


        <div class='col-md-3'>
          <div>Dostawca:</div>
          <div>
            <input class="form-control" type='text' name="companyName" [(ngModel)]="supplierName"/>
          </div>
        </div>

        <div class='col-md-3'>
          <div>Cena od:</div>
          <div>
            <input class="form-control" type='text' name="priceFrom" [(ngModel)]="priceFrom"/>
          </div>
        </div>

        <div class='col-md-3'>
          <div>Cena do:</div>
          <div>
            <input class="form-control" type='text' name="priceTo" [(ngModel)]="priceTo"/>
          </div>
        </div>

      </div>
      <div class="pt-4 text-right">
      <button class='btn btn-outline-secondary' id="submit" type="submit">Zastosuj filtry</button>
      </div>

    </form>
  </div>

  <div class='table-responsive'>
    <table class='table' *ngIf='products && products.length'>
      <thead>
      <tr>
        <th>Nazwa produktu</th>
        <th>Kategoria</th>
        <th>Dostawca</th>
        <th>Cena jednostkowa (zł)</th>
        <th>Dostępność</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor='let product of products'>
        <td><a [routerLink]="['/products', product._id]">{{product.productName}}</a></td>
        <td>{{product.category.categoryName}}</td>
        <td>{{product.supplier.companyName}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitsInStock ? 'tak' : 'nie'}}</td>
      </tr>

      </tbody>
    </table>
  </div>

</div>


