<div class="panel panel-primary">
  <br><br>
  <div class="panel-heading">
    <h3>{{pageTitle}}</h3>
  </div>
  <br><br>
  <div class="panel-body"  >
    <div class="row" >
      <img src="./assets/images/welcome.png"
           class="img-responsive center-block"
           style="max-height:300px;padding-bottom:50px"/>
    </div>
    <div class="row"  >
      <div class="text-center">Developed by: </div>
      <h3 class="text-center"> Martyna Chomicz</h3>

    </div>
  </div>
</div>
